/* VS AV Events */

html, body, table {
	font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", "Lucida Grande", sans-serif;
	margin: 0;
}

header {
	border-bottom: 1px solid black;
	font-weight: 300;
	padding: 20px 5%;
	max-width: 1000px;
}

header a, header a:visited {
	text-decoration: none;
}

h1 {
	font-size: 1.5em;
	text-align: center;
	padding: 0;
	margin: 0;
}

h1 a, h1 a:visited {
    font-weight: 100;
    cursor: default;
}

nav, nav ul, nav li {
	padding: 0;
	margin: 0;
}

nav ul {
	margin: 5px auto;
	list-style: none;
}

nav li {
	display: inline;
	padding: 2px;
}

nav li:after {
	content: '•';
}

table {
	border-collapse: collapse;
	font-weight: normal;
	text-align: center;
	width: 100%;
}

tr {
	border-bottom: solid #000 1px;
	margin: 0 0 5px 0;
}

th, td {
	margin: 0 2px 1px 2px;
}

#main {
	padding: 20px 5%;
	max-width: 1000px;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

