/* VS AV Events */

h1 {
	text-align: center;
}

table {
	border-collapse: collapse;
	font-weight: normal;
	text-align: center;
	width: 100%;
}

tr {
	border-bottom: solid #000 1px;
	margin: 0 0 5px 0;
}

th, td {
	margin: 0 2px 1px 2px;
}
