/* VS AV Events */

html, body, table {
	font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", "Lucida Grande", sans-serif;
	margin: 0;
	-webkit-font-smoothing: antialiased;
}

#header-container, #footer-container {
	background-color: #3592dd;
	font-weight: 300;
}

header, footer {
	padding: 20px 5%;
	max-width: 960px;
	margin: 0 auto;
}

header a, footer {
	text-align: center;
	text-decoration: none;
	color: white;
}

h1 {
	font-size: 1.5em;
	text-align: center;
	padding: 0;
	margin: 0;
}

h1 a, h1 a:visited {
    font-weight: 300;
}

nav, nav ul, nav li {
	padding: 0;
	margin: 0;
}

nav ul {
	text-align: center;
	margin: 5px auto;
	list-style: none;
}

nav li {
  display: inline-block;
  margin: 0 6px;
}

nav a {
	opacity: 0.6;
	position: relative;
	-webkit-transition: opacity 0.2s ease-in-out 0s;
	-moz-transition: opacity 0.2s ease-in-out 0s;
	transition: opacity 0.2s ease-in-out 0s;
}

nav a:before {
	content: "";
	position: absolute;
	bottom: -2px;
	width: 100%;
	height: 1px;
	z-index: 10;
	background-color: #fff;
	
	-webkit-transform: scaleX(0);
	-moz-transform: scaleX(0);
	transform: scaleX(0);
	
	-webkit-transition: all 0.2s ease-in-out 0s;
	-moz-transition: all 0.2s ease-in-out 0s;
	transition: all 0.2s ease-in-out 0s;
}

nav a:hover {
	opacity: 1;
}

nav a:hover:before {
	-webkit-transform: scaleX(1);
	-moz-transform: scaleX(1);
	transform: scaleX(1);
}

table {
	border-collapse: collapse;
	font-weight: normal;
	text-align: center;
	width: 100%;
}

tr {
	border-bottom: solid #000 1px;
	margin: 0 0 5px 0;
}

th, td {
	margin: 0 2px 1px 2px;
}

tr input[type="text"], tr input[type="email"] {
    text-align: center;
    width: 100%;
}

tr textarea {
    width: 100%;
    resize: vertical;
}

#main {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow-x: scroll;
}

#main article {
	padding: 20px 5%;
	max-width: 960px;
	margin: 0 auto;
}
