{% extends 'templates/base.html' %}
{% block content %}
<p>Welcome to the admin console!</p>

<noscript>You need Javascript to operate this.</noscript>

<pre><code id="console-output">
Type "help" for help info.

</code></pre>
<input type="text" id="console">
<input type="button" value="Clear" id="console-clear">

<script>
function $(id) {
  return document.getElementById(id);
}
var ENTER = 13;
var CONSOLE = $("console");
var consoleOutput = $("console-output");
var consoleClear = $("console-clear");

CONSOLE.onkeydown = keyDown;

function keyDown (event) {
  var keycode = (event.keyCode != null ? event.keyCode : event.which);
  if (keycode == ENTER) {
    var cmd = CONSOLE.value.replace(/^\s+|\s+$/g, "");
    CONSOLE.value = "";
    consoleOutput.innerHTML += "$ " + cmd + "\n";

    var request = new XMLHttpRequest();
    request.open("GET", "/admin/console?cmd=" + encodeURIComponent(cmd), true);
    request.onreadystatechange = function () {
      if (request.readyState == 4 && request.status == 200) {
        consoleOutput.innerHTML += request.responseText + "\n\n";
      }
    };
    request.send();
  }
}

consoleClear.onclick = function (event) {
  consoleOutput.innerHTML = "";
};
</script>
{% endblock content %}
