{% extends 'templates/base.html' %}
{% block content %}
<p>Welcome to the admin console!</p>

<noscript>You need Javascript to operate this.</noscript>

<pre><code id="consoleOutput">
Type "help" for help info.

</code></pre>
<form>
<input type="text" id="consoleInput" onkeydown="keyDown(event)">
<input type="submit" id="submit" onclick="keyDown(event,true)">
<input type="button" value="Clear" id="consoleClear" onclick="consoleOutput.innerHTML=''">
</form>

<script>
var ENTER = 13;

function keyDown (event, submit) {
  var keycode = (event.keyCode != null ? event.keyCode : event.which);
  if (keycode == ENTER || submit) {
    var cmd = consoleInput.value.replace(/^\s+|\s+$/g, "");
    consoleInput.value = "";
    consoleOutput.innerHTML += "$ " + cmd + "\n";

    var request = new XMLHttpRequest();
    request.open("GET", "/admin/console?cmd=" + encodeURIComponent(cmd), true);
    request.onreadystatechange = function () {
      if (request.readyState == 4 && request.status == 200) {
        consoleOutput.innerHTML += request.responseText + "\n\n";
      }
    };
    request.send();
    event.preventDefault && event.preventDefault();
    return false;
  }
}

</script>
{% endblock content %}
