{% extends 'templates/base.html' %}
{% block content %}
<p>Welcome to the admin console!</p>

<noscript>
You need Javascript to operate this.
</noscript>

<pre><code id="console-output">
Type "help" for help info.

</code></pre>
<input type="text" id="console">
<input type="button" value="Clear" id="console-clear">

<script>
var ENTER = '13';

$('#console').keypress(function(event) {
  var keycode = (event.keyCode ? event.keyCode : event.which);
  if (keycode == ENTER) {
    var cmd = $("#console").val().trim();
    $("#console").val("");

    $("#console-output").append("$ " + cmd + "\n");

    $.get("/admin/console", {cmd: cmd}, function(data) {
      $("#console-output").append(data + "\n\n");
    });
  }
});

$('#console-clear').click(function(event) {
  $('#console-output').text("");
});
</script>
{% endblock content %}
