<!doctype html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }} - vsavevents</title>
  <link rel="shortcut icon" href="/favicon.ico">

  <link rel="stylesheet" href="/resources/all.css">
</head>
<body>
<div id="header-container">
  <header>
    <h1><a href="/">vsavevents</a></h1>
    <nav>
      <ul>
        {% if user %}
        <li><a href="/events">Events</a></li>
        <li><a href="/archives">Archives</a></li>
        <li><a href="/dutyroster">Duty Roster</a></li>
        {% if user.level == 2 %}
        <li><a href="/admin">Admin</a></li>
        {% endif %}
        <li><a href="{{ logoutUrl }}">Logout</a></li>
        {% else %}
        <li><a href="{{ loginUrl }}">Login</a></li>
        {% endif %}
      </ul>
    </nav>
  </header>
</div>
<div id="main">
<article>
{% if user %}
  {% if user.name %}
  <p>Hello, {{ user.name }} ({{ user.email }})!<p>
  {% else %}
  <p>Hello, {{ user.email }}!</p>
  {% endif %}

  {% if user.level == 0 %}
  <h2>403 Forbidden</h2>
  <p>You are not authorized to view this page.</p>
  <p>If you wish to be added access, please contact the admins: Ng Wei En and Benjamin Tan.</p>
  {% else %}
  <h2>{{ title }}</h2>
  {% block content %}
  {% endblock content %}
  {% endif %}
{% else %}
  <h2>Hello!</h2>
  <p>Please log in.</p>
{% endif %}
</article>
</div>
<div id="footer-container">
  <footer>
    &copy; 2013-2014 by <a href="https://github.com/d10">Benjamin Tan</a> and <a href="https://github.com/wei2912">Ng Wei En</a> | Code on <a href="https://github.com/d10/vsavevents">GitHub</a>
  </footer>
  <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-38386306-4', 'vsavevents.appspot.com');ga('send', 'pageview');</script>
</div>
</body>
</html>
