<!doctype html>
<html lang="en">
<head>
  <title>{{ title }} - vsavevents</title>
  <link rel="stylesheet" href="/res/all.css">
</head>
<body>
<header>
  <h1><a href="/">vsavevents</a></h1>
{% block nav %}
  <nav>
    <ul class="cf">
        <li><a href="/archives">Archives</a></li>
        <li><a href="/dutyroster">Duty Roster</a></li>
        <li><a href="{{ logoutUrl }}">Logout</a></li>
    </ul>
  </nav>
{% endblock nav %}
</header>
<div id="main">
{% if user != None %}
  <p>Hello, {{ user.name }} ({{ user.email }})!<p>
{% else %}
  <p>Hello, {{ user.email }}!</p>
{% endif %}
<h2>{{ title }}</h2>
{% block content %}
  Hi!
{% endblock content %}
</div>
</body>
</html>
