{% extends 'templates/base.html' %}
{% block content %}
{% if events %}
<form method="get" action="/{{ url }}">
  <label for="limit">Limit number of events: </label>
  <input type="number" name="limit" maxlength="10">
  <input type="submit">
</form>
<table>
  <tr>
    <th>Date</th>
    <th>Event</th>
    <th>Location</th>
    <th>Levels</th>
    <th>Time</th>
  </tr>
  {% for event in events %}
  <tr>
    <td>{{ event.date.strftime('%d %B, %A') }}</td>
    <td><a href="/events/{{ event.key.urlsafe() }}">{{ event.name }}</a></td>
    <td>{{ event.location }}</td>
    <td>{{ event.levels }}</td>
    <td>{{ event.start_time.strftime('%H:%M') }} - {{ event.end_time.strftime('%H:%M') }}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
  <p>There are no events.</p>
{% endif %}
{% endblock content %}
