{% extends 'templates/base.html' %}
{% block content %}
<h3>Welcome!</h3>
<p>
  Some short links for our site, if you're feeling too lazy to remember the URL:
  <ul>
    <li><a href="http://tiny.cc/vsav">tiny.cc/vsav</a></li>
    <li><a href="http://tinyurl.com/vsavevents">tinyurl.com/vsavevents</a></li>
  </ul>

  This website was developed by <a href="mailto:demoneaux@gmail.com">Benjamin Tan</a> and <a href="mailto:weien1292@gmail.com">Ng Wei En</a>, vice-chairman and chairman of 2013 respectively. The source is available on <a href="https://github.com/bnjmnt4n/vsavevents">GitHub</a>. If you wish to provide feedback or report a problem with the website, please file an issue on <a href="https://github.com/bnjmnt4n/vsavevents/issues">GitHub Issues</a> if you have a GitHub account, or contact both of us by email. Thank you!
</p>
{% endblock content %}
