{% extends 'templates/base.html' %}
{% block content %}
<h3>Welcome!</h3>
<p>
  Some short links for our site, if you're feeling too lazy to remember the URL:
  <ul>
    <li><a href="http://tiny.cc/vsav">tiny.cc/vsav</a></li>
    <li><a href="http://tinyurl.com/vsavevents">tinyurl.com/vsavevents</a></li>
  </ul>
</p>

<h3>Post-Exam Activities (SA1 2014)</h3>
<h4>Tuesday (20/5)</h4>
<p>
  <ul>
    <li>Sec 3: Hall 07:50 - 13:00 and auditorium 07:50 - 13:35. There will be breaks in between.</li>
  </ul>
</p>
<p>
  Also, 2 Sec 3s need to report to the auditorium by 7am.
</p>

<h4>Wednesday (21/5)</h4>
<p>
  <ul>
    <li>Sec 1: Hall 07:50 - 08:50 and auditorium 8:50 - 9:50 (Overall ICs to supervise)</li>
    <li>Sec 3/4: Auditorium 07:50 - 08:50 and 12:35 - 13:35</li>
  </ul>
</p>

<h4>Thursday (22/5)</h4>
<p>
  <ul>
    <li>Sec 1: Hall 07:50 - 10:00 (Overall ICs to supervise)</li>
    <li>Sec 2: Auditorium 07:50 - 09:50 (Sec 2 ICs to supervise)</li>
    <li>Sec 4: Auditorium 11:35 - 12:35 (Mr David will be supporting)</li>
  </ul>
</p>
<p>
  Also, there’s an additional event after school, “NISEC Trial Run”, auditorium 13:00 - 17:00. Please report whether you can come or not.
</p>

<h4>Friday (23/5)</h4>
<p>
  NISEC Trial Run is cancelled and moved to Thursday.<br>
  Meeting will be held on Friday, but me and Benjamin will be away for a talk at VJC. Aiman and Caleb will take charge of the meeting.
</p>


<h3>Overview of AV Club Meeting on 28 March 2014</h3>
<p>
<ul>
	<li>
		When playing a video from a computer, there are 4 sources of volume control:
		<ul>
		<li>Video player (set to 75% volume)</li>
		<li>Computer audio (set to 50%-75% volume)</li>
		<li>Projector dashboard</li>
		<li>Soundboard</li>
		</ul>
		Ensure that the volume is appropriate by listening constantly, and being aware of sudden changes to the volume.
	</li>
	<li>Please report for morning assembly punctually of you are on duty on that day, by 7am, or 7.10am latest. If you are unable to make it on time, please be responsible to contact someone who is on duty to inform them.</li>
	<li>Please pass all timesheets for Term 1 2014 to me by Monday. I have not recieved the timesheets from any of the Sec 1s, Marco, Jonathan, Jia He, Shaun, Aiman and Caleb, although I do have an unidentified, nameless timesheet with me. Also, continue to maintain your timesheet for Term 2.</li>
</ul>
</p>

<h3>Overview of AV Club Meeting on 14 March 2014</h3>
<p>
<ul>
	<li>The new duty roster has been released, and it is available here at <a href="http://tiny.cc/vsav2014t2">tiny.cc/vsav2014t2</a>. If you have not seen it, please check which day you are on duty on. Additionally, please report punctually for duty. Try to report at 7am if possible, otherwise by 7.10am latest. If there are any issues with the duty roster, please email me or Wei En.</li>
	<li>We will also be dividing the keys to the control room among the Sec 2s. This will be rotated on a termly basis, and for Term 2, we will be passing the keys to Marco and Ryan.
	<li>Also, starting in Term 2, whenever you intend to go for any event, please report to me or Wei En at least 2-3 days before the event, otherwise we might assign someone else to go for the event instead.</li>
	<li>Finally, please help Wei En and I to complete a quick 30 question survey on our leadership skills. You should be receiving the emails to the survey sometime soon.</li>
</ul>
</p>
{% endblock content %}
