<!doctype html>
<html lang="en">
<head>
  <title>{{ title }} - vsavevents</title>
  <link rel="stylesheet" href="res/all.css">
</head>
<body>
<header class="cf">
  <h1><a href="/">vsavevents</a></h1>
  <!--img src="res/vsav.jpg"-->
  <nav>
    <ul class="cf">
      <li><a href="/archives">Archives</a></li>
      <li>
        {% if user %}
        <a href="{{ logoutUrl }}">Logout</a>
        {% else %}
        <a href="{{ loginUrl }}">Login</a>
        {% endif %}
      </li>
    </ul>
  </nav>
</header>
<div id="main">
{% if user %}
  <p>Hello, {{ user.email() }}!<p>
  <h2>{{ title }}</h2>
  {% if events %}
  <table>
  	<tr>
  	  <th>Date</th>
  	  <th>Teacher</th>
  	  <th>Event</th>
  	  <th>Department</th>
  	  <th>Location</th>
  	  <th>Levels</th>
  	  <th>Start</th>
  	  <th>End</th>
  	  <th>Equipment</th>
  	  <th>Remarks</th>
  	</tr>
    {% for event in events %}
  	<tr>
  	  <td>{{ event.date }}</td>
  	  <td>{{ event.teacher }}</td>
  	  <td>{{ event.name }}</td>
  	  <td>{{ event.department }}</td>
  	  <td>{{ event.location }}</td>
  	  <td>{{ event.levels }}</td>
  	  <td>{{ event.start_time }}</td>
  	  <td>{{ event.end_time }}</td>
  	  <td>{{ event.equipment }}</td>
  	  <td>{{ event.remarks }}</td>
  	</tr>
    {% endfor %}
  </table>
  {% endif %}

{% else %}

  <p>Please log in.</p>

{% endif %}
</div>
</body>
</html>
