{% extends 'templates/base.html' %}
{% block content %}
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    {% if user.level == 2 %}
      <th>Status</th>
    {% endif %}
  </tr>
  {% for viewed_user in users %}
    <tr>
      <td>
        {% if user.level == 2 %}<a href="/users/{{ viewed_user.key.urlsafe() }}">{% endif %}
          {{ viewed_user.name }}
        {% if user.level == 2 %}</a>{% endif %}
      </td>
      <td>{{ viewed_user.email }}</td>
      {% if user.level == 2 %}
        <td>
        {% if viewed_user.level == 1 %}
          Normal
        {% else %}
          Administrator
        {% endif %}
        </td>
      {% endif %}
    </tr>
  {% endfor %}
  {% if user.level == 2 %}
    <tr>
      <td colspan="3">
        <a href="/users/new">Add a new user.</a>
      </td>
    </tr>
  {% endif %}
</table>
{% endblock content %}
